/* ----------------------------------------------------- Button ----------------------------------------------------- */

.Button {
    -fx-border-color: orange;
    -fx-border-width: 3px;
    -fx-border-radius: 25px;
    -fx-background-radius: 25px;
    /* Makes the background-color black, but with a 0.5 opacity (only 50% of the black is visible) */
    -fx-background-color: rgba(0, 0, 0, 0.5);
    -fx-font-size: 18px;
    -fx-text-fill: white;
}

.Button:hover {
    /* Applies a yellow drop shadow with a 20px radius and no offset */
    -fx-effect: dropshadow(three-pass-box, rgba(255, 223, 0, 1), 15, 0, 0, 0);

    /* Scales the button by 10% in both horizontal (X) and vertical (Y) directions */
    -fx-scale-x: 1.1;
    -fx-scale-y: 1.1;
}

/* --------------------------------------------------- LevelImages -------------------------------------------------- */

.LevelImages {
    -fx-border-width: 25px;
    -fx-border-color: Transparent;
}

.LevelImages:hover {
    -fx-effect: dropshadow(gaussian, rgba(255, 223, 0, 1), 25, 0.5, 0, 0);
    -fx-cursor: hand;
}

.selected-image-view {
    -fx-border-width: 5;
    -fx-border-color: rgba(255, 223, 0, 1);
    -fx-effect: dropshadow(gaussian, rgba(255, 223, 0, 1), 25, 0.5, 0, 0);
}

/* ------------------------------------------------ LevelDescription ------------------------------------------------ */

.LevelDescription {
    -fx-font-family: MedievalSharp;
    -fx-font-size: 20px;
    /* shadow for a more medieval look */
    -fx-effect: dropshadow(three-pass-box, rgba(0, 0, 0, 0.7), 4, 0.0, 2, 2);
}

/* ------------------------------------------------------------------------------------------------------------------ */

.test {
    -fx-translate-y: 50%;
}

/* -----------------------------------------------------Text_Warning------------------------------------------------- */

.warning {
    -fx-font-size: 40;
    -fx-font-family: fantasy;
}


